# permanent folders of no interest
/.build/
/cache/
/local/

# build folders
/chroot/
/binary/

# build files inside config
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source

# no hooks
/config/hooks/

#*.log
build.log
.lock

# secrets
*_secret


/chroot.*
/live-image-*
/binary.modified_timestamps
